## Helpful Operators

In [1]:
# the in operator

In [2]:
'Python' in 'Python for Everybody'

True

In [3]:
if 'Henry' in ['Henry', 'Zephyr', 'Daniel']:
    print('Henry is in this list')

Henry is in this list

In [4]:
languages = ['Python', 'JavaScript', 'C++', 'Swift']

In [5]:
languages

['Python', 'JavaScript', 'C++', 'Swift']

In [6]:
num = 0
for lang in languages:
    print(num, lang)
    num += 1

0 Python
1 JavaScript
2 C++
3 Swift

In [7]:
# Another way to iterate the index of the values in a list is to use the enumerate function

In [8]:
for index, lang in enumerate(languages):
    print(index, lang)

0 Python
1 JavaScript
2 C++
3 Swift

In [9]:
for index, lang in enumerate(languages):
    print(index + 1, lang)

1 Python
2 JavaScript
3 C++
4 Swift

In [10]:
# Another keyword is the zip function
# This allows us to merge two lists into a paired tuple

In [11]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

In [12]:
for item in zip(list1, list2):
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [14]:
for letter, number in zip(list1, list2):
    print(letter, '\t=>\t', number)

a 	=>	 1
b 	=>	 2
c 	=>	 3

In [15]:
# We can obtain the minimum and maximum values in a list using the min and max keyword

In [16]:
list1
list2

[1, 2, 3]

In [17]:
min(list1)

'a'

In [18]:
max(list1)

'c'

In [19]:
min(list2)

1

In [20]:
max(list2)

3

In [21]:
# if we an array of strings, we can join them into a string using the join function

In [22]:
''.join(list1)

'abc'

In [23]:
'=>'.join(list1)

'a=>b=>c'

In [24]:
# we can also split a string into an array using the split function

In [25]:
course = 'Python for Everybody'

In [28]:
words = course.split(' ')

In [29]:
words

['Python', 'for', 'Everybody']

In [30]:
# We can use the sort function to rearrange a list to alphabetical and case sensitive

In [31]:
words.sort()

In [32]:
words

['Everybody', 'Python', 'for']

In [33]:
# We can use the shuffle function to shuffle a list. We will need to use the import keyword

In [34]:
from random import shuffle

In [44]:
shuffle(words)

In [45]:
words

['Everybody', 'for', 'Python']